/* Variables */

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1300px
);

$theme-colors: (
  primary: #4d148c,
  secondary: #ff6200,
  dark: #000000,
  info: #007ab7,
  info-hover: #007ab7,
);
